a {
  text-decoration: none;
  color: #ff4040;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
}

footer {
  background: radial-gradient(at top left, #34343b 0%, #2e2e33 35%, #1f1f21 70%, #171717 100%);
  background-repeat: no-repeat;
  color: #CCC;
}

h1 {
  color: #ff4040;
  font-family: 'Reenie Beanie', cursive;
  transition: color .2s;
  font-size: 4rem;
}

h3 {
  color: #ff4040;
  transition: color .2s;
}

h4 {
  font-weight: 600;
  margin: 0;
}

h5 {
  font-weight: 300;
}

li {
  list-style: none;
  padding: 1rem;
  transition: background-color .2s;
}

/* HOVER ANIMATION */
h1:hover, h3:hover, a:hover {
  color: #ff0000;
}

li:hover {
  color: #FAFAFA;
  background: #ff0000;
  font-size: 1.2rem;
}

li:hover .skill-rating {
  color: #FAFAFA;
}

.prof-pic:hover {
  border: 5px solid #ff4040;
}

/** ID SELECTORS **/
#title {
  background: radial-gradient(at top left, #34343b 0%, #2e2e33 35%, #1f1f21 70%, #171717 100%);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 75px #171717 inset;
  color: #CCC;
  min-height: fit-content;
  width: 100%;
  padding-bottom: 1.5%;
}

#title .container-fluid {
  padding-top: 5%;
  padding-bottom: 1.5%;
}

#site-contents {
  background-color: #F3F6F4;
}

/* NAVIGATION */
.navbar {
  left: 15%;
  right: 15%;
  top: 3%;
}

.navbar-brand {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2.5rem;
}

.navbar-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: right;
}

.sticky-nav {
  background-color: #ff4040;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15%;
  transition: 0.2s;
  z-index: 100;
}

.sticky-nav .navbar-item:hover {
  color: white;
  background-color: black;
}

/** CLASS SELECTORS **/
.accordion-button:focus {
  box-shadow: 0 0 0 .25rem #ff4040;
}

.accordion-button[aria-expanded='true'] {
  color: inherit;
  background-color: #EBEEF3;
}

.accordion-item {
  border: 0;
}

.alt-content-bg {
  background-color: #EBEEF3;
}

.btn-back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 4.5vmin;
  color: #FAFAFA;
  background-color: #ff4040;
  z-index: 77;
}

.btn-color {
  color: #FAFAFA;
  background-color: #ff4040;
  margin: 2.5rem 0;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bi-footer, .bi-braces {
  color: #ff4040;
  transition: color .2s;
}

.bi-footer {
  font-size: 2rem;
}

.career-technologies {
  font-weight: 200;
}

.hide {
  display: none;
}

.container-fluid {
  padding: 3% 15%;
}

.date {
  color: #ff4040;
}

.prof-pic {
  width: 100%;
  border-radius: 100%;
  transition: border 0.4s;
}

.row {
  padding: 1rem 0;
}

.skill-rating {
  color: #ff4040;
  float: right;
}

.title-contents {
  padding: 2.5rem 1rem;
}

.timeline {
  list-style-type: none;
  position: relative;
}

.timeline::before {
  content: ' ';
  background: #ff4040;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
}

.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
  transition: .2s;
}

.timeline>li::before {
  content: ' ';
  background: #F3F6F4;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ff4040;
  margin-top: 5.5px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.timeline>li:hover {
  background: radial-gradient(at top left, #34343b 0%, #2e2e33 35%, #1f1f21 70%, #171717 100%);
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px #000;
  transition: .2s;
}

.timeline>li:last-child {
  color: #CCC;
}
