@media (orientation: portrait) {
  body, p {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 7.7rem;
    margin: 1.5rem auto;
  }

  h2 {
    font-size: 3.3rem;
    margin: 1.5rem auto;
  }

  h3 {
    font-size: 3rem;
    margin: 1.5rem auto;
  }

  h4 {
    font-size: 2.8rem;
    margin: 1.5rem auto;
  }

  h5 {
    font-size: 2.5rem;
    margin: 1.5rem auto;
  }

  li:hover {
    font-size: 2.5rem;
    margin: 1.5rem auto;
  }

  #footer {
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .bi-footer {
    font-size: 4rem;
  }

  .btn-back-to-top {
    font-size: 7vmin;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }

  .btn-color {
    font-size: 2.5rem;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .date {
    padding-left: 2rem;
  }

  .title-contents {
    width: 100%;
    text-align: center;
  }

  .nav-link {
    font-size: 2.5rem;
  }

  .navbar-brand {
    font-size: 5rem;
  }

  .navbar-toggler-icon {
    font-size: 2.5rem;
  }

  .timeline>li {
    font-size: 2.5rem;
  }

  .timeline>li::before {
    margin-top: 15px;
    left: 10px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px), (orientation: portrait) {
  li {
    text-align: center;
  }

  .timeline>li {
    text-align: left;
  }

  .container-fluid {
    padding: 3% 7%;
  }

  .date {
    text-align: left;
  }

  .skill-rating {
    display: block;
    float: none;
  }
}

@media (max-width: 768px) {
  #title {
    text-align: center;
  }

  #footer {
    font-size: 1.1rem;
  }

  .title-contents {
    padding: 2.5rem 1rem;
  }
}

@media (max-width: 1011px) {
  .navbar {
    padding-bottom: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1167px) {
  .skill-rating {
    display: block;
    float: none;
  }
}

@media (min-width: 814px) and (max-width: 1011px) {
  .title-contents {
    padding: 2.5rem .5rem;
  }
}
