@media (orientation: portrait) and (pointer: coarse),
(orientation: portrait) and (pointer: fine) {
  body, p {
    font-size: 3.7vmin;
  }

  h1 {
    font-size: 12vmin;
  }

  h2 {
    font-size: 5.5vmin;
  }

  h3 {
    font-size: 5vmin;
  }

  h4 {
    font-size: 4.5vmin;
  }

  h5 {
    font-size: 4vmin;
  }

  li:hover {
    font-size: 4vmin;
  }

  #footer {
    font-size: 4vmin;
    padding-top: 10vmin;
    padding-bottom: 10vmin;
  }

  .bi-footer {
    font-size: 8vmin;
  }

  .btn-back-to-top {
    font-size: 7vmin;
  }

  .btn-color {
    font-size: 4.1vmin;
    margin-top: 10vmin;
    padding-left: 2.5vmin;
    padding-right: 2.5vmin;
  }

  .title-contents {
    width: 100%;
    text-align: center;
  }

  #title .container-fluid {
    padding-top: 10%;
  }

  .nav-link {
    font-size: 5vmin;
  }

  .navbar-brand {
    font-size: 7.7vmin;
  }

  .navbar-toggler-icon {
    font-size: 4vmin;
  }

  .timeline>li::before {
    width: 5vmin;
    height: 5vmin;
  }
}

@media (orientation: portrait) and (pointer: coarse) {
  #title .container-fluid {
    padding-top: 10%;
  }

  .date {
    padding-left: 1.5rem;
  }

  .timeline>li::before {
    margin-top: 2vmin;
    width: 4vmin;
    height: 4vmin;
  }
}

@media (max-width: 576px), (orientation: portrait) {
  li {
    text-align: center;
  }

  .timeline>li {
    text-align: left;
  }

  .container-fluid {
    padding: 3% 7%;
  }

  .date {
    text-align: left;
  }

  .skill-rating {
    display: block;
    float: none;
  }
}

@media (max-width: 768px) {
  #title {
    text-align: center;
  }

  #footer {
    font-size: 1.1rem;
  }

  .title-contents {
    padding: 2.5rem 1rem;
  }
}

@media (max-width: 1011px) {
  .navbar {
    left: 7%;
    right: 7%;
    padding: 0;
  }

  #navbarToggler {
    padding-bottom: 3%;
  }

  .sticky-nav {
    left: 0;
    right: 0;
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (min-width: 992px) and (max-width: 1167px) {
  .skill-rating {
    display: block;
    float: none;
  }
}

@media (min-width: 814px) and (max-width: 1011px) {
  .title-contents {
    padding: 2.5rem .5rem;
  }
}
